body{
    background-image: url(./background-1086840_1280.webp);
}



.forchange{
    display: block;
    align-items: center;
    justify-content: center;
   background-color: black;
   gap: 20px;
 
}

.inputer{
    display: block;
}
.radioblock{
    color: white;

}